/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-multiple-blocks-plugin-buy-button {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.piro_controls {
	position: absolute;
	background-color: grey;
	width: 50%;
	right: 0px;
	border-bottom-left-radius: 10px;
	top: -20px;

	label {
		vertical-align: top;
		margin-left: 5px;
	}
}

[data-type="piro-plugin/agenda"] .vue-mounted,
.wp-block-piro-plugin-agenda .vue-mounted#mount  {
	h3 {
		text-align: center;
		font-weight: bold;
	}	
	
	h4 {
		text-align: center;
		font-weight: bold;
	}

	ul {
		--icon-space: 1.3em;
		list-style: none;
		padding: 0;
	}
	
	li {
		padding-left: var(--icon-space);
		line-height: 23px;
		margin: 15px 0px;

		span {
			font-size: 18px;
			font-weight: bold;
			display: inline-block;
			position: relative;
			top: 2px;

			span.description {
				font-weight: lighter;
				font-style: italic;
				top: unset;
			}
		}

		
	}

	li:before {
		content: "\f058"; /* FontAwesome Unicode */
		color: #21759b;
		font-size: 44px;
		line-height: 44px;;
		font-family: FontAwesome;
		display: inline-block;
		margin-left: calc( var(--icon-space) * -.5 );
		width: var(--icon-space);
	  }
}
